@tailwind utilities;

/* Hero Sine Wave */
.hero-wave {
    position: absolute;
    top: 0;
    left: -20px;
    width: calc(100% + 40px);
    height: 100px;
    z-index: 1;
    overflow: visible;
    max-width: none;
}

@media (min-width: 768px) {
    .hero-wave {
        height: 160px;
    }
}

/* Pixel Grid */
.pixel-grid {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    pointer-events: none;
}

/* Expanding Nav */
.menu-drawer {
    position: fixed;
    top: 0.75rem;
    left: 0.75rem;
    padding: 0.25rem;
    background-color: #F1E4E4;
    border-radius: 4rem;
    display: flex;
    align-items: center;
    z-index: 50;
}

.menu-logo {
    width: 2.5rem;
    height: 2.25rem;
    padding-left: 0.35rem;
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

@media (min-width: 1024px) {
    .menu-drawer {
        top: 2rem;
        left: 2rem;
        padding: 0.35rem;
    }
    .menu-logo {
        width: 3.5rem;
        height: 3rem;
        padding-left: 0.5rem;
    }
}

.menu-items {
    display: flex;
    gap: 0.35rem;
    overflow: hidden;
}

.menu-items .menu-item {
    width: max-content;
    height: 2.25rem;
    background-color: #FCF9F9;
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.menu-items .menu-item button {
    text-decoration: none;
    color: #881337;
    font-weight: 500;
    letter-spacing: -0.01rem;
    padding: 0 0.85rem;
    user-select: none;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 0.8rem;
    font-family: ui-sans-serif, system-ui, sans-serif;
}

.menu-toggler {
    position: relative;
    width: 2.25rem;
    height: 2.25rem;
    padding: 0.7rem;
    background-color: #E0CBCB;
    border-radius: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    flex-shrink: 0;
    cursor: pointer;
}

@media (min-width: 1024px) {
    .menu-items .menu-item {
        height: 3rem;
    }
    .menu-items .menu-item button {
        padding: 0 1.25rem;
        font-size: inherit;
    }
    .menu-toggler {
        width: 3rem;
        height: 3rem;
        padding: 1rem;
    }
}

.menu-toggler span {
    position: relative;
    width: 100%;
    height: 0.125rem;
    background-color: #881337;
    transition: transform 0.3s ease;
    transform-origin: center;
    will-change: transform;
}

.menu-toggler.close span:nth-child(1) {
    transform: rotate(45deg) translateX(0.125rem) translateY(0.1rem) scaleX(0.9);
}

.menu-toggler.close span:nth-child(2) {
    transform: rotate(-45deg) translateX(0.125rem) translateY(-0.1rem) scaleX(0.9);
}
