@tailwind utilities;

html {
    scroll-snap-type: none;
}

@media (min-width: 768px) {
    html {
        scroll-snap-type: y proximity;
    }
}

@layer utilities {
    .btn {
        @apply inline-block font-bold py-2 px-4 text-pink-900 bg-pink-50 border-pink-200 border-4 rounded-xl hover:no-underline;
    }
}