@tailwind base;
@tailwind utilities;

:root {
    --bg: white;
}

@layer base {
    @font-face {
        font-family: "Bitter";
        font-display: swap;
        src: local("Bitter"), local("Bitter-Regular"),
            url("../fonts/Bitter-VariableFont.ttf") format("truetype");
    }
    
    @font-face {
        font-family: "Bitter";
        font-style: italic;
        font-display: swap;
        src: local("Bitter-Italic"),
            url("../fonts/Bitter-Italic-VariableFont.ttf") format("truetype");
    }

    @font-face {
        font-family: "Plus Jakarta Sans";
        font-display: swap;
        src: local("Plus-Jakarta-Sans"), local("Plus-Jakarta-Sans-Regular"),
            url("../fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
    }

    @font-face {
        font-family: "Plus Jakarta Sans Italic";
        font-style: italic;
        font-display: swap;
        src: local("Plus-Jakarta-Sans-Italic"),
            url("../fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf") format("truetype");
    }
    
    html {
        @apply font-serif text-pink-900;
        background-color: var(--bg);
    }
    h1, .h1 {
        @apply text-5xl lg:text-7xl leading-tight lg:leading-tight text-outline;
    }
    h2, .h2 {
        @apply text-4xl lg:text-6xl leading-tight lg:leading-tight font-semibold;
    }
    h3, .h3 {
        @apply text-3xl font-bold;
    }
    h4, .h4 {
        @apply text-xl font-semibold;
    }
    h5, .h5 {
        @apply text-lg;
    }

    p {
        @apply font-sans;
    }

    a { @apply text-pink-600 hover:underline hover:decoration-pink-500; }
}

@layer utilities {
    .text-outline {
        text-shadow: -1px -1px var(--bg),0 -1px var(--bg),1px -1px var(--bg),-1px 0 var(--bg),1px 0 var(--bg),-1px 1px var(--bg),0 1px var(--bg),1px 1px var(--bg),-2px -2px var(--bg),0 -2px var(--bg),2px -2px var(--bg),-2px 0 var(--bg),2px 0 var(--bg),-2px 2px var(--bg),0 2px var(--bg),2px 2px var(--bg),-3px -3px var(--bg),0 -3px var(--bg),3px -3px var(--bg),-3px 0 var(--bg),3px 0 var(--bg),-3px 3px var(--bg),0 3px var(--bg),3px 3px var(--bg),-4px -4px var(--bg),0 -4px var(--bg),4px -4px var(--bg),-4px 0 var(--bg),4px 0 var(--bg),-4px 4px var(--bg),0 4px var(--bg),4px 4px var(--bg);
    }
    .text-background {
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        background-color: white;
        padding: 4px 8px 4px 0;
    }
}
