@tailwind base;
@tailwind utilities;

@font-face {
    font-family: "Merriweather";
    src: local("Merriweather-Regular"),
        url("../fonts/Merriweather-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Merriweather";
    font-weight: bold;
    src: local("Merriweather-Bold"),
        url("../fonts/Merriweather-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Merriweather";
    font-weight: lighter;
    src: local("Merriweather-Light"),
        url("../fonts/Merriweather-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Merriweather";
    font-style: italic;
    src: local("Merriweather-Italic"),
        url("../fonts/Merriweather-Italic.ttf") format("truetype");
}

:root {
    --bg: white;
}

@layer base {
    html {
        font-family: "Merriweather", serif;
        @apply text-gray-800;
        background-color: var(--bg);
    }

}

@layer utilities {
    .text-outline {
        text-shadow: -1px -1px var(--bg),0 -1px var(--bg),1px -1px var(--bg),-1px 0 var(--bg),1px 0 var(--bg),-1px 1px var(--bg),0 1px var(--bg),1px 1px var(--bg),-2px -2px var(--bg),0 -2px var(--bg),2px -2px var(--bg),-2px 0 var(--bg),2px 0 var(--bg),-2px 2px var(--bg),0 2px var(--bg),2px 2px var(--bg),-3px -3px var(--bg),0 -3px var(--bg),3px -3px var(--bg),-3px 0 var(--bg),3px 0 var(--bg),-3px 3px var(--bg),0 3px var(--bg),3px 3px var(--bg),-4px -4px var(--bg),0 -4px var(--bg),4px -4px var(--bg),-4px 0 var(--bg),4px 0 var(--bg),-4px 4px var(--bg),0 4px var(--bg),4px 4px var(--bg);
    }
}
